<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="rutabackup" value="C:\\Backup"/>
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp from="ARGLeague@outlook.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="smtp.live.com" />
        <specifiedPickupDirectory pickupDirectoryLocation="C:\\Backup"/>
      </smtp>    
    </mailSettings >
  </system.net>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="Saitama" connectionString="Data Source=DESKTOP-QH89LEQ;Initial Catalog=ARGLeague;Integrated Security=True"/>
    <add name="SaitamaMaster" connectionString="Data Source=DESKTOP-QH89LEQ;Initial Catalog=master;Integrated Security=True"/>
    <add name="SaitamaDell" connectionString="Data Source=DELL7000\SQLEXPRESS;Initial Catalog=ARGLeague;Integrated Security=True"/>
    <add name="SaitamaDellMaster" connectionString="Data Source=DELL7000\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"/>
    <add name="SaitamaConnectionString" connectionString="Data Source=DESKTOP-J1950C4\SQLEXPRESS;Initial Catalog=ARGLeague;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
    <add name="SaitamaConnectionString2" connectionString="Data Source=DESKTOP-QH89LEQ;Initial Catalog=ARGLeague;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>