.FondoPagina {
    background-color: #CECFCA;
}

.FondoPanel {
    background-color: #EEEEEE;
}


.TituloPanel {
    font-size: 18px;
    font-weight: bold;
}

.labelform {
    font-weight: bold;
}

.margenPaginacion {
    margin-right: 5px;
    color: #212529;
    font-size: medium;
}

.table-bottom-dark,
.table-bottom-dark > th,
.table-bottom-dark > td {
    margin-right: 5px;
    color: #fff;
    font-size: medium;
    background-color: #212529;
}

    .table-bottom-dark .table-bottom-dark:hover {
        margin-right: 5px;
        color: #fff;
        font-size: medium;
        background-color: #212529;
    }

.table-hover-dark .table-bottom-dark:hover > td,
.table-hover-dark .table-bottom-dark:hover > th {
    margin-right: 5px;
    color: #fff;
    font-size: medium;
    background-color: #212529;
}
